

.rel{position: relative;}
.abs{position: absolute;}
.left{float: left;}
.right{float: right;}
.hide{display: none !important;}
.show{display: block !important;}
.clear::before,.clear::after{content:'';display: block;clear:both;}

.f-show{display: flex;display: -webkit-flex;}

.flex-box{display: flex;justify-content:center;align-items:center;}
.f-v{flex-direction:column;-webkit-flex-direction:column;}/*垂直排列*/
.flex-wrap{flex-wrap:wrap;-webkit-flex-wrap:wrap;}/*溢出换行*/
.justify-s-b{justify-content:space-between !important;-webkit-justify-content:space-between !important;}/*flex两端对齐*/
.justify-l{justify-content:flex-start;-webkit-justify-content:flex-start;}/*左对齐*/
.flex-1{flex-grow:1;-webkit-flex-grow:1;}
.f-width10{flex-basis:10%;-webkit-flex-basis:10%;min-width: 10%;}
.f-width20{flex-basis:20%;-webkit-flex-basis:20%;min-width: 20%;}
.f-width30{flex-basis:30%;-webkit-flex-basis:30%;min-width: 30%;}
.f-width40{flex-basis:40%;-webkit-flex-basis:40%;min-width: 40%;}
.f-width50{flex-basis:50%;-webkit-flex-basis:50%;min-width: 50%;}
.f-width60{flex-basis:60%;-webkit-flex-basis:60%;min-width: 60%;}
.f-width70{flex-basis:70%;-webkit-flex-basis:70%;min-width: 70%;}
.f-width80{flex-basis:80%;-webkit-flex-basis:80%;min-width: 80%;}

.dbox{display: -webkit-box;}/*强制一行显示*/
.box_row_slid {display: -webkit-box;white-space: nowrap; overflow-x: auto;padding:.5em;font-size:.9em;}/*行滑动*/

.mask{position: fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5)}
.load{
    width:1rem;
    height:1rem;
    border-radius:50%;
    border-top:.1rem solid #fff;
    /* border-bottom:.1rem solid #fff; */
    animation: _load 1s linear infinite;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top:-.5rem;
    margin-left:-.5rem;
}

@keyframes _load{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }	
}